# Diretórios do ambiente virtual
.venv*/
venv*/

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Diretórios de build e distribuição
dist/
build/

# Cobertura de testes
.coverage*
htmlcov/

# Configurações de IDEs
.idea/
.vscode/

# Tox (ferramenta de testes)
.tox/

# Documentação gerada automaticamente
docs/_build/

# Logs e arquivos temporários
*.log
*.tmp
